---
- name: Create RHEL ISO for static IP
  hosts: localhost
  gather_facts: false

  pre_tasks: 
  
  - name: Ensure mkisofs and rsync is installed
    yum:
      name: "{{ packages }}"
    become: true
    delegate_to: localhost
    vars:
      packages:
      - rsync
      - genisoimage

  tasks:
  - block:
    - name: Check if ISO is already available
      stat:
        path: /tmp/{{ my_iso }}
      register: iso_file

    - name: Mount ISO
      mount:
        src: /tmp/{{ my_iso }}
        path: /mnt/iso
        fstype: iso9660
        opts: ro,noauto
        state: mounted
      become: true

    - name: Copy contents of iso
      synchronize:
        src: /mnt/iso/
        dest: /tmp/rhel-iso/
      become: true

- name: Create the required ISOs
  hosts: all
  serial: 1
  gather_facts: false

  tasks:
  - name: Build isolinux variables
    set_fact:
      cmd_args: ""

  - name: Add kickstart url
    set_fact:
      cmd_args: "{{ cmd_args }} inst.ks={{ webserver_url }}"

  - name: Add extra options
    set_fact:
      cmd_args: "{{ cmd_args }} {{ extra_opts }}"

  - name: Add bond and vlan info
    set_fact:
      cmd_args: "{{ cmd_args }} bond={{ interface }}:{{ bond_int1 }},{{ bond_int2 }}:mode={{ bond_mode }} vlan={{ vlan }}:{{ interface }}"

  - name: Add ip address info
    set_fact:
      cmd_args: "{{ cmd_args }} ip={{ ipv4 }}::{{ gateway }}:{{ netmask }}:{{ inventory_hostname_short }}:{{ vlan }}:none"

  - name: Add DNS
    set_fact:
      cmd_args: "{{ cmd_args }} nameserver={{ ns[0] }}"

  - name: Add second DNS
    set_fact:
      cmd_args: "{{ cmd_args }} nameserver={{ ns[1] }}"
    when: "{{ ns[1] }} is defined"
    ignore_errors: true

  - name: Build grub variables
    set_fact:
      cmd_args1: ""

  - name: Add kickstart url
    set_fact:
      cmd_args1: "{{ cmd_args1 }} inst.ks={{ webserver_url }}"

  - name: Add extra options
    set_fact:
      cmd_args1: "{{ cmd_args1 }} {{ extra_opts }}"

  - name: Add DNS
    set_fact:
      cmd_args1: "{{ cmd_args1 }} nameserver={{ ns[0] }}"

  - name: Add second DNS
    set_fact:
      cmd_args1: "{{ cmd_args1 }} nameserver={{ ns[1] }}"
    when: "{{ ns[1] }} is defined"
    ignore_errors: true

  - block:
    - name: Replace the isolinux.cfg file
      template:
        src: isolinux.cfg.j2
        dest: /tmp/rhel-iso/isolinux/isolinux.cfg
      become: true
      delegate_to: localhost

    - name: Replace the grub.cfg file
      template:
        src: grub.cfg.j2
        dest: /tmp/rhel-iso/EFI/BOOT/grub.cfg
      become: true
      delegate_to: localhost

    - name: Create new ISO image for x86_64
      command: >
          /usr/bin/mkisofs -V 'RHEL-8-2-0-BaseOS-x86_64' -J -R -l -o /tmp/rhel-8.2_install-{{ inventory_hostname_short }}.iso -b isolinux/isolinux.bin -c isolinux/boot.cat -no-emul-boot -boot-load-size 4 -boot-info-table -eltorito-alt-boot -e images/efiboot.img -no-emul-boot .
      args:
        chdir: /tmp/rhel-iso/
      become: true
      delegate_to: localhost

    - name: Make USB compatible
      command: >
          /usr/bin/isohybrid --uefi /tmp/rhel-8.2_install-{{ inventory_hostname_short }}.iso
      become: true
      delegate_to: localhost

- name: Cleanup tasks
  hosts: localhost
  gather_facts: false

  tasks:

  - block: 
    - name: Unmount ISO
      mount:
        path: /mnt/iso
        state: absent

    - name: Remove ISO copy
      file:
        path: /tmp/rhel-iso
        state: absent
    become: true
...
